# 05 Python Exceptions

## Plan for the Lecture:

1. Exception Theory 

2. Try / Except 

3. Pass 

4. Break

## 0.0 Recap / Revision 

* Quiz here...

## 1.0 Concept of a Data Structure

* Unlike a variable which stores one value at a time, a data structure is built to store a collection of values. 

* Indexed structures allow for random access (RAM) – can locate an item by the index location. An array and vector allow for this.  

* Non-indexed structures (or referenced) structures, on the other hand, are navigated sequentially. For example, a stream of data from the keyboard or from a file, or a linked list in which each node has a pointer the next in the sequence.

* There are entire modules (courses) dedicated to this subject.

* The performance of typical operations (insert, delete, search and sort) vary across the structures. 

* Big O notation (complexity): constant, linear, polynomial, linearithmic, quadratic etc. 

* Path finding algorithms. 

* Computer vision.

## 2.0 Array 

* The items in an array are called elements.

* We specify how many elements an array will have when we declare the size of the array (if ‘fixed-size’), unlike flexible sized collections (e.g. ArrayList in Java).

* Elements are numbered and can referred to by number inside the `[ ]` is called the index. This is used when data is input and output.

* Can only store data if it matches the type the array is declared with.

## 2.1 Strings are an Array (or in Python, an str list)

* A String (str) object is an immutable array of characters. 

* Each character has a numbered position in the array (index):

* We can make use of functions to be able to perform operations on the string.

In [1]:
name = "Nick"

In [9]:
i = 0
for x in name: 
    print("[" + str(i) + "]" + " : " + str(x))
    i += 1

[0] : N
[1] : i
[2] : c
[3] : k

In [10]:
name[0]

'N'

In [11]:
name[3]

'k'

## 2.2 The `dir` of methods

In [12]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [14]:
name.find('c')

2

In [15]:
name.find('C')

-1

In [16]:
name.lower()

'nick'

In [17]:
name.upper()

'NICK'

## 3. Lists `[ ]`

* A list in Python does use the subscript operator `[ ]` typically associated with an array. Elements in this list are also indexed.

* The list will maintain a pointer (reference) to objects, rather the integer values (remember Python types are classes).

* Lists in python are resizable, unlike static arrays which are fixed.

* Python lists can store elements of different types, whereas arrays are declared to store values of one type.

In [28]:
l = [1,2.25,"Nick","N",True]
l

[1, 2.25, 'Nick', 'N', True]

In [29]:
l = [1,2,3,4,5,6]
l

[1, 2, 3, 4, 5, 6]

In [19]:
l[0]

1

In [20]:
l[-1]

6

In [21]:
l[-2]

5

In [22]:
l[2:4]

[3, 4]

In [37]:
type(l)

list

In [36]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [26]:
l.append(7)
l

[1, 2, 3, 4, 5, 6, 7]

In [27]:
l.remove(7)
l

[1, 2, 3, 4, 5, 6]

## 4. Tuples in Python `( )`

* We’ve seen that a Python list is indexed and can store elements of different types (heterogeneity) 

* Tuples are constant (immutable) – once they are declared, they cannot be reassigned. 

* A list is declared with `[ ]` whereas the tuple is declared with `( )`

* We can still refer to elements in a tuple via the `[ ]`

In [30]:
t = (1,2,3,4,5,6)
t

(1, 2, 3, 4, 5, 6)

In [31]:
t[0]

1

In [32]:
t[0] = 5

TypeError: 'tuple' object does not support item assignment

In [39]:
type(t)

tuple

In [35]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [34]:
t.count(1)

1

In [40]:
t.index(5)

4

## 4.1 Tuples vs Lists 

* Tuples are immutable (constant) – once they are declared, they cannot be reassigned. 

* A list is mutable – elements can be reassigned. 

* A list is declared with `[ ]` whereas the tuple is declared with `( )`

* We can refer to elements in both a list and tuple via the `[ ]`

## 5.0 Sets in Python `{ }`

* Sets in mathematics refer to a set of distinct numbers – there are no duplicates.

* It is possible to store duplicates in a Python set, but only the unique values will be printed. 

* Casting data to a set is a useful way to remove duplicates!

* Sets are declared with the `{ }`

* Sets are mutable (can change)

In [41]:
s = {1,2,3,4,5,6}
s

{1, 2, 3, 4, 5, 6}

In [42]:
s.add(7)
s

{1, 2, 3, 4, 5, 6, 7}

In [43]:
s.remove(7)
s

{1, 2, 3, 4, 5, 6}

In [44]:
s = {1,2,3,4,5,6,1,2,3,4,5,6}
s

{1, 2, 3, 4, 5, 6}

In [45]:
l = [1,1,2,2,3,3,4,4,5,5,6,6]
s = set(l)
s

{1, 2, 3, 4, 5, 6}

## 5.1 Set Theory 

* Intersect ` A & B `

* Union ` A | B `

* Difference ` A - B `

## 5.1.1 Set Intersect

In [46]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
s1 & s2

{4, 5, 6}

## 5.1.2 Set Union

In [47]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

## 5.1.3 Set Difference

In [48]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
s1 - s2

{1, 2, 3}

In [49]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
s2 - s1

{7, 8, 9}

## 6.0 Dictionaries `{ k : v}`

* An English Dictionary would allow us to look up the definition of a word. We search the word to locate the definition. 

* In Python, we specify a key (word) to be able to get a value (definition). 

* Similar to an associative array, or a Map in Java.

* Like Set, Dictionaries also use the `{ }` but they feature : for a key and value pair  `{ k : v }`

In [50]:
d = {"USA": 200, "UK": 200, "EU": 200}
d

{'USA': 200, 'UK': 200, 'EU': 200}

In [51]:
d = {"USA": 200, "UK": 200, "EU": 200}
d["UK"]

200

In [52]:
d = {"USA": 200, "UK": 200, "EU": 200}
d["uk"]

KeyError: 'uk'

## 6.4 Append

In [53]:
d = {"USA": 200, "UK": 200, "EU": 200}
d["Asia"] = 300
d

{'USA': 200, 'UK': 200, 'EU': 200, 'Asia': 300}

## 6.5 Remove

In [54]:
d = {"USA": 200, "UK": 200, "EU": 200, "Asia": 30}
del d["Asia"]
d

{'USA': 200, 'UK': 200, 'EU': 200}

In [55]:
type(d)

dict

In [56]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [57]:
d = {"USA": 200, "UK": 200, "EU": 200}
print( d.keys() )
print( d.values() )

dict_keys(['USA', 'UK', 'EU'])
dict_values([200, 200, 200])

## Summary 

* You can distinguish between the key collections by the pairs of brackets used: 

| Structure | Brackets | Characteristics |
| ----------- | ----------- | --------- |
| Lists |	`[ , ]` | mutable |
| Tuples |	`( , )` | immutable | 
| Sets |	`{ , }`  | unique values (no duplicates) |
| Dict | `{k : v}` | key and value pairs |

#### This Jupyter Notebook contains exercises for you to extend your introduction to OOP, by creating lists, tuples, sets, dictionaries of objects. Attempt the following exercises, which slowly build in complexity. If you get stuck, check back to the <a href = "https://youtu.be/MDZX59Lrc_g?si=MW3m7FYgfVYoYqum"> Python lecture recording on Data Structures here</a> or look through the <a href = "https://www.python.org">Python documentation here</a>.

### Exercise 1:
Create a Python list that stores the numbers 1-10 in indivdual elements. Then print out the contents of the list to check the values have been stored correctly.

Extension: make use of an appropriate list method to reverse the order of this list.

In [38]:
#Write your solution here

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Exercise 2:

Create a Python dictionary which stores the price for three items of food. For example; milk is £1.30, pasta is £0.75, and strawberries are £1.50. Output the dictionary to check the values are stored, and then see if you can access the price for one of the items by using the item name as the 'key'.

Extension: Now add a new key and value pair to previously defined dictionary.

In [49]:
#Write your solution here

{'milk': 1.3, 'pasta': 0.75, 'strawberries': 1.5}

### Exercise 3: 

Given two sets (prices and food names), can you create a dictionary that uses the foodnames as keys, and the prices as values?

In [124]:
foodnames = {"milk", "pasta", "strawberries"}
prices = {1.30, 0.75, 1.50}

print(foodnames)
print(prices)

# Write your solution:

{'pasta', 'milk', 'strawberries'}
{0.75, 1.3, 1.5}

{'pasta': 0.75, 'milk': 1.3, 'strawberries': 1.5}

### Exercise 4: 

Write one function which will return the intersection of two sets passed in. Write another function which will return the union of two sets passed in.

In [174]:
a = {1,2,3,4,5,6,7,8,9,10}
b = {7,8,9,10,11,12,13,14}

#write your solution here

{8, 9, 10, 7}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

### Exercise 5:
Write a function that takes two lists of numbers, and returns the number that appears most frequently across both lists (the mode). 

Hint: if you get stuck, try creating a tally of how many times each number appears. This could be a list.

In [165]:
def most_frequent(a, b):
    #write your solution here
    ...
    #write your solution above

a = [0,1,3,4,6,3,2,4,1,9,5,6,7,7,1,8,4,0]
b = [7,3,9,6,7,4,2,1,3,9,7,5,1,3,4,2,1,8]

result = most_frequent(a, b)
result

[0, 0, 1, 1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 6, 6, 6, 7, 7, 7, 7, 7, 8, 8, 9, 9, 9]
count of 0 is 2
count of 1 is 6
count of 2 is 3
count of 3 is 5
count of 4 is 5
count of 5 is 2
count of 6 is 3
count of 7 is 5
count of 8 is 2
count of 9 is 3

1

### Exercise 6: 

Return to your student class created in Python 03 notebook. Create three new student objects and add/store these objects in a list.

In [67]:
class Student:
  def __init__(self, name, id):
    self.name = name
    self.id = id
  def print(self):
      print(self.name) 
      print(self.id)

#write your solution here

[<__main__.Student at 0x103ccc940>,
 <__main__.Student at 0x103ccd210>,
 <__main__.Student at 0x103b5d870>]

### Exercise 7: 

Amend your Module class from Python 03 notebook so that module objects can store a list of student objects (which take the module). Start by defining an attribute in the Module constructor. This could be initialised as an empty list in the constructor. Create a ```add_student()``` function which can append a student object. 

Extension: is it possible to use the ```add_student()``` function to add a list of students to already existing list attribute?

In [127]:
#Write your solution here

Programming Concepts
COM4008
Programming Concepts
COM4008
nick
Programming Concepts
COM4008
nick
Emily

### Exercise 7

Now modify the list of the students in Module, to a dictionary. The dictionary should store the student object as the 'key' and the student mark for the module as the 'value'. Test this new structure works by passing in students and their marks when you call ```add_student()```

Extension: Can you now create some descriptive statistics for each module: the maximum mark, minimum mark, and mean (average)?

In [1]:
#write your solution here

### Exercise 8
Make adjustments to the Course class from Python 03 Notebook to allow a Course to store a list of module objects. 
Create additional module objects and output their details.

In [2]:
#write your solution here

### Exercise 9:
Write a function that will generate the multiplications of a number passed in. For example, if the value 5 is passed in, then generate the 5 times table. The values of the multiplication table should be stored in indivdiual elements (max 12) of a list. The list should be returned at the end of the function.

In [53]:
#write your solution here

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84]

### Exercise 10:

Write a function which will square any list of values passed into it. Test this works by passing in your list of numbers (1-10) you created in the first exericse.

<b>Extension</b>: what happens if the values in a list are not ints or floats? How would you respond to this event?

In [60]:
#write your solution here

[1, 4, 9, 16, 25, 36]

### Bonus exercise (in the style of an interview question)

You are given a list of integers, and your task is to find the longest subsequence of consecutive integers within the list. A subsequence is a sequence that can be derived from another sequence by deleting some or no elements without changing the order of the remaining elements. 

Write a Python function to solve this problem. Your function should return the longest consecutive subsequence found in the original list.

For example, given the input list: ``` [4, 2, 8, 5, 6, 7, 11, 12, 10]```

The longest consecutive subsequence is: ``` [4, 5, 6, 7, 8] ```

In [185]:
def longest_consecutive_subsequence(numbers):
    #write your solution here
    ...
    #write your solution above


numbers = [4, 2, 8, 5, 6, 7, 11, 12, 10]
result = longest_consecutive_subsequence(numbers)
print(result)

[4, 5, 6, 7, 8]