# 04 Python Data Structures

## Plan for the Lecture:

1. Concept of a Data Structure

2. Array and Strings

3. Lists 

4. Tuples 

5. Sets

6. Dictionaries

## 1.0 Concept of a Data Structure

* Unlike a variable which stores one value at a time, a data structure is built to store a collection of values. 

* Indexed structures allow for random access (RAM) – can locate an item by the index location. An array and vector allow for this.  

* Non-indexed structures (or referenced) structures, on the other hand, are navigated sequentially. For example, a stream of data from the keyboard or from a file, or a linked list in which each node has a pointer the next in the sequence.

## 1.1 Application of Data Structures
* There are entire modules (courses) dedicated to this subject.

* The performance of typical operations (insert, delete, search and sort) vary across the structures. 

* Big O notation (complexity): constant, linear, polynomial, linearithmic, quadratic etc. 

* Path finding algorithms. 

* Computer vision.

## 2.0 Array 

* The items in an array are called elements.

* We specify how many elements an array will have when we declare the size of the array (if ‘fixed-size’), unlike flexible sized collections (e.g. ArrayList in Java).

* Elements are numbered and can referred to by number inside the `[ ]` is called the index. This is used when data is input and output.

* Can only store data if it matches the type the array is declared with.

![char_array](https://scaler.com/topics/images/character-in-character-array.webp)

## 2.1 Strings are an Array (or in Python, an str list)

* A String (str) object is an immutable array of characters. 

* Each character has a numbered position in the array (index):

* We can make use of functions to be able to perform operations on the string.

In [ ]:
name = "Nick"

In [ ]:
i = 0
for x in name: 
    print("[" + str(i) + "]" + " : " + str(x))
    i += 1

In [ ]:
name[0]

In [ ]:
name[3]

## 2.2 The `dir` of methods

In [ ]:
dir(str)

In [ ]:
name

In [ ]:
name.find('c')

In [ ]:
name.find('C')

In [ ]:
name.lower()

In [ ]:
name.upper()

## 3. Lists `[ ]`

* A list in Python does use the subscript operator `[ ]` typically associated with an array. Elements in this list are also indexed.

* The list will maintain a pointer (reference) to objects, rather the integer values (remember Python types are classes).

* Lists in python are resizable, unlike static arrays which are fixed.

* Python lists can store elements of different types, whereas arrays are declared to store values of one type.

In [ ]:
l = [1,2.25,"Nick","N",True]
l

In [ ]:
l[5]

In [ ]:
len(l)

In [ ]:
l = [1,2,3,4,5,6]
l

In [ ]:
l[0]

In [ ]:
l[-1]

In [ ]:
l[-2]

In [ ]:
l

In [ ]:
l[2:4]

In [ ]:
type(name)

In [ ]:
type(l)

In [ ]:
dir(list)

In [ ]:
l

In [ ]:
l.append(7)
l

In [ ]:
l.remove(7)
l

## 4. Tuples in Python `( )`

* We’ve seen that a Python list is indexed and can store elements of different types (heterogeneity) 

* Tuples are constant (immutable) – once they are declared, they cannot be reassigned. 

* A list is declared with `[ ]` whereas the tuple is declared with `( )`

* We can still refer to elements in a tuple via the `[ ]`

In [ ]:
l = []

In [ ]:
t = (1,2,3,4,5,6)
t

In [ ]:
t[0]

In [ ]:
t[0] = 5

In [ ]:
type(t)

In [ ]:
dir(tuple)

In [97]:
t1 = (1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,3,3,3,3,3,3)

In [ ]:
t1.count(3)

In [ ]:
t.index(5)

## 4.1 Tuples vs Lists 

* Tuples are immutable (constant) – once they are declared, they cannot be reassigned. 

* A list is mutable – elements can be reassigned. 

* A list is declared with `[ ]` whereas the tuple is declared with `( )`

* We can refer to elements in both a list and tuple via the `[ ]`

## 5.0 Sets in Python `{ }`

* Sets in mathematics refer to a set of distinct numbers – there are no duplicates.

* Whilst one may try and assign multiple instances of the same value, the Python set only stores one instance of this value.

* Casting data to a set is a useful way to remove duplicates!

* Sets are declared with the `{ }`

* Sets are mutable (can change)

In [ ]:
s = {1,2,3,4,5,6}
s

In [ ]:
s.add(7)
s

In [ ]:
s.remove(7)
s

In [ ]:
s = {1,2,3,4,5,6,1,2,3,4,5,6}
s

In [ ]:
l = [1,1,2,2,3,3,4,4,5,5,6,6]
s = set(l)
s

## 5.1 Set Theory 

* Intersect ` A & B `

* Union ` A | B `

* Difference ` A - B `

## 5.1.1 Set Intersect

In [ ]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
s1 & s2

## 5.1.2 Set Union

In [ ]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
s1 | s2

## 5.1.3 Set Difference

In [ ]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
s1 - s2

In [ ]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
s2 - s1

## 6.0 Dictionaries `{ k : v}`

* An English Dictionary would allow us to look up the definition of a word. We search the word to locate the definition. 

* In Python, we specify a key (word) to be able to get a value (definition). 

* Similar to an associative array, or a Map in Java.

* Like Set, Dictionaries also use the `{ }` but they feature : for a key and value pair  `{ k : v }`

In [ ]:
d = {"USA": 200, "UK": 200, "EU": 200}
d

In [ ]:
d = {"USA": 200, "UK": 200, "EU": 200}
d["UK"]

In [ ]:
d = {"USA": 200, "UK": 200, "EU": 200}
d["UK"]

## 6.4 Append

In [ ]:
d = {"USA": 200, "UK": 200, "EU": 200}
d["Asia"] = 300
d

## 6.5 Remove

In [ ]:
d = {"USA": 200, "UK": 200, "EU": 200, "Asia": 30}
del d["Asia"]
d

In [ ]:
type(d)

In [ ]:
dir(dict)

In [ ]:
d = {"USA": 200, "UK": 200, "EU": 200}
print( d.keys() )
print( d.values() )

## Summary 

* You can distinguish between the key collections by the pairs of brackets used: 

| Structure | Brackets | Characteristics |
| ----------- | ----------- | --------- |
| Lists |	`[ , ]` | mutable |
| Tuples |	`( , )` | immutable | 
| Sets |	`{ , }`  | unique values (no duplicates) |
| Dict | `{k : v}` | key and value pairs |

#### This Jupyter Notebook contains exercises for you to extend your introduction to OOP, by creating lists, tuples, sets, dictionaries of objects. Attempt the following exercises, which slowly build in complexity. If you get stuck, check back to the <a href = "https://youtu.be/MDZX59Lrc_g?si=MW3m7FYgfVYoYqum"> Python lecture recording on Data Structures here</a> or look through the <a href = "https://www.python.org">Python documentation here</a>.

### Exercise 1:
Create a Python list that stores the numbers 1-10 in indivdual elements. Then print out the contents of the list to check the values have been stored correctly.

Extension: make use of an appropriate list method to reverse the order of this list.

In [ ]:
# Write your solution here

### Exercise 2: 

Now can you create a function which will return the first and last value of a list passed in. Code this function so that it will work with any length of list.

In [ ]:
def first_and_last():
    ... # Write your solution here.

In [ ]:
l = ...
first_and_last(l)

### Exercise 3:

Create a Python dictionary which stores the price for three items of food. For example; milk is £1.30, pasta is £0.75, and strawberries are £1.50. Output the dictionary to check the values are stored, and then see if you can access the price for one of the items by using the item name as the 'key'.

Extension: Now add a new key and value pair to previously defined dictionary.

In [ ]:
#Write your solution here

### Exercise 4: 

Consider the given tuple below. Is there a function you call to return the count of the value `6`?

In [1]:
t = (1,2,3,4,5,6,4,5,6,7,8,9,1,2,3,7,8,9,4,5,6)

# Write your solution here

### Exercise 5: 

Write one function which will return the intersection of two sets passed in. Write another function which will return the union of two sets passed in.

In [ ]:
a = {1,2,3,4,5,6,7,8,9,10}
b = {7,8,9,10,11,12,13,14}

#write your solution here

### Exercise 6:

Write a function which will square (raise to the power of 2) the contents of a list of values passed in. Test this works by passing in your list of numbers (1-10) you created in the first exericse.

<b>Extension</b>: what happens if the values in a list are not `ints` or `floats`? How would you respond to this event?

In [ ]:
def square():
    ...

In [ ]:
# Write your solution here

### Exercise 7: 

Write function that will find a middle element of a given list. 

If you took a list with an odd number as its length : `[1,2,3,4,5,6,7,8,9]`, then the middle element will have a symmetric halves (four values either side of the middle value 5). 

For an even number as a length, either return both elements in the middle or round up or down to either side.

In [ ]:
# Write your solution here

### Exercise 8:
Write a function that will generate the multiplications of a number passed in, and store each multiple in a set of values.

For example, if the value 5 is passed in, then generate the 5 times table. The values of the multiplication table should be stored in indivdiual elements (max 12) of a list. The list should be returned at the end of the function.

In [ ]:
def generate_multiples():
    ... # Write your solution here.

In [ ]:
generate_multiples()

### Exercise 9: 

Given two sets (prices and food names), can you create a dictionary that uses the foodnames as keys, and the prices as values?

In [ ]:
foodnames = {"milk", "pasta", "strawberries"}
prices = {1.30, 0.75, 1.50}

print(foodnames)
print(prices)

# Write your solution:

### Exercise 10:
Write a function that takes two lists of numbers, and returns the number that appears most frequently across both lists (the mode). 

Hint: if you get stuck, try creating a tally of how many times each number appears. This could be a list.

In [ ]:
def most_frequent(a, b):
    #write your solution here
    ...

a = [0,1,3,4,6,3,2,4,1,9,5,6,7,7,1,8,4,0]
b = [7,3,9,6,7,4,2,1,3,9,7,5,1,3,4,2,1,8]

result = most_frequent(a, b)
result

### Exercise 11: 

Return to your student class created in Python 03 notebook. Create three new student objects and add/store these objects in a list.

In [ ]:
class Student:
  def __init__(self, name, id):
    self.name = name
    self.id = id
  def print(self):
      print(self.name) 
      print(self.id)

#write your solution here

### Exercise 12: 

Amend your Module class from Python 03 notebook so that module objects can store a list of student objects (which take the module). Start by defining an attribute in the Module constructor. This could be initialised as an empty list in the constructor. Create a ```add_student()``` function which can append a student object. 

Extension: is it possible to use the ```add_student()``` function to add a list of students to already existing list attribute?

In [ ]:
#Write your solution here

### Exercise 13:

Now modify the list of the students in Module, to a dictionary. The dictionary should store the student object as the 'key' and the student mark for the module as the 'value'. Test this new structure works by passing in students and their marks when you call ```add_student()```

Extension: Can you now create some descriptive statistics for each module: the maximum mark, minimum mark, and mean (average)?

In [1]:
#write your solution here

### Exercise 14:
Make adjustments to the Course class from Python 03 Notebook to allow a Course to store a list of module objects. 
Create additional module objects and output their details.

In [ ]:
#write your solution here

### (Bonus) Exercise 15 (in the style of an interview question)

You are given a list of integers, and your task is to find the longest subsequence of consecutive integers within the list. A subsequence is a sequence that can be derived from another sequence by deleting some or no elements without changing the order of the remaining elements. 

Write a Python function to solve this problem. Your function should return the longest consecutive subsequence found in the original list.

For example, given the input list: ``` [4, 2, 8, 5, 6, 7, 11, 12, 10]```

The longest consecutive subsequence is: ``` [4, 5, 6, 7, 8] ```

In [ ]:
def longest_consecutive_subsequence(numbers):
    #write your solution here
    ...
    #write your solution above


numbers = [4, 2, 8, 5, 6, 7, 11, 12, 10]
result = longest_consecutive_subsequence(numbers)
print(result)