# 04 Python Data Structures
ND August 2023

#### This Jupyter Notebook contains exercises for you to extend your introduction to OOP, by creating lists, tuples, sets, dictionaries of objects. Attempt the following exercises, which slowly build in complexity. If you get stuck, check back to the <a href = "https://youtu.be/MDZX59Lrc_g?si=MW3m7FYgfVYoYqum"> Python lecture recording on Data Structures here</a> or look through the <a href = "https://www.python.org">Python documentation here</a>.

### Exercise 1:
Create a Python list that stores the numbers 1-10 in indivdual elements. Then print out the contents of the list to check the values have been stored correctly.

Extension: make use of an appropriate list method to reverse the order of this list.

In [38]:
#Write your solution here

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Exercise 2:

Create a Python dictionary which stores the price for three items of food. For example; milk is £1.30, pasta is £0.75, and strawberries are £1.50. Output the dictionary to check the values are stored, and then see if you can access the price for one of the items by using the item name as the 'key'.

Extension: Now add a new key and value pair to previously defined dictionary.

In [49]:
#Write your solution here

{'milk': 1.3, 'pasta': 0.75, 'strawberries': 1.5}

### Exercise 3: 

Given two sets (prices and food names), can you create a dictionary that uses the foodnames as keys, and the prices as values?

In [124]:
foodnames = {"milk", "pasta", "strawberries"}
prices = {1.30, 0.75, 1.50}

print(foodnames)
print(prices)

# Write your solution:

{'pasta', 'milk', 'strawberries'}
{0.75, 1.3, 1.5}

{'pasta': 0.75, 'milk': 1.3, 'strawberries': 1.5}

### Exercise 4: 

Write one function which will return the intersection of two sets passed in. Write another function which will return the union of two sets passed in.

In [174]:
a = {1,2,3,4,5,6,7,8,9,10}
b = {7,8,9,10,11,12,13,14}

#write your solution here

{8, 9, 10, 7}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

### Exercise 5:
Write a function that takes two lists of numbers, and returns the number that appears most frequently across both lists (the mode). 

Hint: if you get stuck, try creating a tally of how many times each number appears. This could be a list.

In [165]:
def most_frequent(a, b):
    #write your solution here
    ...
    #write your solution above

a = [0,1,3,4,6,3,2,4,1,9,5,6,7,7,1,8,4,0]
b = [7,3,9,6,7,4,2,1,3,9,7,5,1,3,4,2,1,8]

result = most_frequent(a, b)
result

[0, 0, 1, 1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 6, 6, 6, 7, 7, 7, 7, 7, 8, 8, 9, 9, 9]
count of 0 is 2
count of 1 is 6
count of 2 is 3
count of 3 is 5
count of 4 is 5
count of 5 is 2
count of 6 is 3
count of 7 is 5
count of 8 is 2
count of 9 is 3

1

### Exercise 6: 

Return to your student class created in Python 03 notebook. Create three new student objects and add/store these objects in a list.

In [67]:
class Student:
  def __init__(self, name, id):
    self.name = name
    self.id = id
  def print(self):
      print(self.name) 
      print(self.id)

#write your solution here

[<__main__.Student at 0x103ccc940>,
 <__main__.Student at 0x103ccd210>,
 <__main__.Student at 0x103b5d870>]

### Exercise 7: 

Amend your Module class from Python 03 notebook so that module objects can store a list of student objects (which take the module). Start by defining an attribute in the Module constructor. This could be initialised as an empty list in the constructor. Create a ```add_student()``` function which can append a student object. 

Extension: is it possible to use the ```add_student()``` function to add a list of students to already existing list attribute?

In [127]:
#Write your solution here

Programming Concepts
COM4008
Programming Concepts
COM4008
nick
Programming Concepts
COM4008
nick
Emily

### Exercise 7

Now modify the list of the students in Module, to a dictionary. The dictionary should store the student object as the 'key' and the student mark for the module as the 'value'. Test this new structure works by passing in students and their marks when you call ```add_student()```

Extension: Can you now create some descriptive statistics for each module: the maximum mark, minimum mark, and mean (average)?

In [1]:
#write your solution here

### Exercise 8
Make adjustments to the Course class from Python 03 Notebook to allow a Course to store a list of module objects. 
Create additional module objects and output their details.

In [2]:
#write your solution here

### Exercise 9:
Write a function that will generate the multiplications of a number passed in. For example, if the value 5 is passed in, then generate the 5 times table. The values of the multiplication table should be stored in indivdiual elements (max 12) of a list. The list should be returned at the end of the function.

In [53]:
#write your solution here

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84]

### Exercise 10:

Write a function which will square any list of values passed into it. Test this works by passing in your list of numbers (1-10) you created in the first exericse.

<b>Extension</b>: what happens if the values in a list are not ints or floats? How would you respond to this event?

In [60]:
#write your solution here

[1, 4, 9, 16, 25, 36]

### Bonus exercise (in the style of an interview question)

You are given a list of integers, and your task is to find the longest subsequence of consecutive integers within the list. A subsequence is a sequence that can be derived from another sequence by deleting some or no elements without changing the order of the remaining elements. 

Write a Python function to solve this problem. Your function should return the longest consecutive subsequence found in the original list.

For example, given the input list: ``` [4, 2, 8, 5, 6, 7, 11, 12, 10]```

The longest consecutive subsequence is: ``` [4, 5, 6, 7, 8] ```

In [185]:
def longest_consecutive_subsequence(numbers):
    #write your solution here
    ...
    #write your solution above


numbers = [4, 2, 8, 5, 6, 7, 11, 12, 10]
result = longest_consecutive_subsequence(numbers)
print(result)

[4, 5, 6, 7, 8]