# 03 Python Data Structures I - Lists and Tuples

## Plan for the Lecture:

1. Concept of a Data Structure and Memory

2. Strings, Arrays and Characters

3. Lists 

4. Tuples

In [15]:
def get_number():
    return int(input("please enter a number"))

In [16]:
numbers = []

In [17]:
for number in range(0,3):
    numbers.append(get_number())

In [18]:
numbers

[10, 20, 30]

In [ ]:
num1 = get_number()
num2 = get_number()
num3 = get_number()
((num1 + num2) / 2)

15.0

## 1.0 Concept of a Data Structure

* Unlike a variable which stores one value at a time, a data structure is built to store a collection of values. 

* Indexed structures allow for random access (RAM) – can locate an item by the index location. An array and vector allow for this.  

* Non-indexed structures (or referenced) structures, on the other hand, are navigated sequentially. For example, a stream of data from the keyboard or from a file, or a linked list in which each node has a pointer the next in the sequence.

In [19]:
num1 = 10
num2 = 20
num3 = 30
num4 = 40
num5 = 50
num6 = 60
num7 = 70
num8 = 80
num9 = 90
num10 = 100

This is a lot of variables... isn't there a better way to <b>collect</b> these values in one place?

In [40]:
numbers = [10,20,30,40,50,60,70,80,90,100]

## 1.1 Application of Data Structures
* There are entire modules (courses) dedicated to this subject.

* The performance of typical operations (insert, delete, search and sort) vary across the structures. 

* Big O notation (complexity): constant, linear, polynomial, linearithmic, quadratic etc. 

* Path finding algorithms. 

* Computer vision.

## 1.2 Recap on the Data Types we've seen: 

* `str` = string 

* `int` = integer

* `float` = floating point number

* `bool` = boolean (True/False)

In [ ]:
name = "Nick"

In [ ]:
num = 5

In [ ]:
pi = 3.14

In [ ]:
is_enrolled = True

## 1.3 Memory (briefly) - Base-10 to Base-2

* We're familiar with base-10 (decimal): 10, 255, 1024 etc

* A byte is 8 bits. 

* Bits (base-2) can be turned on or off.

<img src="https://knowthecode.io/wp-content/uploads/2016/10/CS_0100_Understanding_How_a_Computer_Works__1__key10.png" alt="base_2_number_system" width="650">

In [20]:
num = 10

Easy way to convert decimal to binary (base-2) in Python is the `bin()` function

In [19]:
bin(num)

'0b1010'

In [20]:
bin(num)[2:]

'1010'

In [23]:
binary = "1010"
decimal = int(binary, 2)
decimal

10

## 1.4 How Data Types are represented in Memory

* These figures below are <b>signed</b> - that means it spreads the range across positive and <b>negative</b> numbers.


<img src="https://scaler.com/topics/images/data-type-size-based-3.webp" alt="base_2_number_system" width="650">

What about a boolean? Could this be represented as a single 'bit'?   
   0 = False and 1 = True?

In [21]:
binary = "00000000"
decimal = int(binary, 2)
decimal

0

In [22]:
binary = "11111111"
decimal = int(binary, 2)
decimal

255

* The above is <b>unsigned</b> as the range is 0 to 255

* As you can see in the diagram, a <b>signed</b> byte would be -127 to 128

## 1.5 Signed vs unsigned 

* The diagram below shows the contrast between signed and unsigned ranges: 

![signed_unsigned](https://fastbitlab.com/wp-content/uploads/2022/05/Figure-2-1024x544.png)

In [24]:
import sys

num = 10
print(type(num))
print("number of bytes:", sys.getsizeof(num))

<class 'int'>
number of bytes: 28

Huh?!

  Shouldn't an integer be either 32 bits (4 bytes) or 64 bits (8 bytes)? 

   <b>Python adds a significant overhead of bytes here</b>

## 2.0 Array 

* The items in an array are called elements.

* We specify how many elements an array will have when we declare the size of the array (if ‘fixed-size’), unlike flexible sized collections (e.g. ArrayList in Java).

* Elements are numbered and can referred to by number inside the `[ ]` is called the index. This is used when data is input and output.

* Can only store data if it matches the type the array is declared with.

<img src="https://scaler.com/topics/images/character-in-character-array.webp" alt="char_array" width="650">

* In 'strongly typed languages' such as C, we have to declare up-front how much memory is required:

* `char name[5] = {'N', 'i', 'c', 'k', '\0'}; `

* Here, 5 x byte - 4 characters + the null terminator `'\0'`

* Not necessary to allocate memory at declaration with Python.

In [25]:
name = "Nick"

In [26]:
for letter in name:
    print(letter)

N
i
c
k

## 2.1 ASCII Table (quickly)

* How to represent alphanumerics (characters, symbols, numbers, keyboard characters) in decimal format: 

![ascii_table](https://www.asciitable.com/asciifull.gif)

In [30]:
'A' == 'A'

True

* Like `bin()`, the function `ord()` converts a character to its decimal equivalent.

* Can also use the `chr()` to convert back to character.

In [28]:
ord('A')

65

In [29]:
ord('a')

97

In [30]:
ord('N')

78

In [31]:
name = "Nick"

for letter in name:
    print(letter, ":", ord(letter))

N : 78
i : 105
c : 99
k : 107

In [43]:
ord('A')

65

In [42]:
chr(65)

'A'

In [32]:
bin(65)

'0b1000001'

In [33]:
for i in range(65, 91):
    print(i, chr(i))

65 A
66 B
67 C
68 D
69 E
70 F
71 G
72 H
73 I
74 J
75 K
76 L
77 M
78 N
79 O
80 P
81 Q
82 R
83 S
84 T
85 U
86 V
87 W
88 X
89 Y
90 Z

## 2.2 Strings are an Array (or in Python, an str list)

* A String (str) object is an immutable array of characters. 

* Each character has a numbered position in the array (index):

* We can make use of functions to be able to perform operations on the string.

In [34]:
name = "Nick"

In [35]:
i = 0
for x in name: 
    print("[" + str(i) + "]" + " : " + str(x))
    i += 1

[0] : N
[1] : i
[2] : c
[3] : k

In [41]:
name[-1]

'k'

In [4]:
name[3]

'k'

In [6]:
type(name[0])

str

In [5]:
print(type(name[0]))

<class 'str'>

## 2.3 The `dir` of methods

In [42]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [43]:
name

'Nick'

In [45]:
name[2]

'c'

In [46]:
name.find('c')

2

In [48]:
name.find('C')

-1

In [50]:
ord('c')

99

In [51]:
name.lower()

'nick'

In [52]:
name.upper()

'NICK'

## 3. Python Lists `[ ]`

* A list in Python does use the subscript operator `[ ]` typically associated with an array. Elements in this list are also indexed.

* The list will maintain a pointer (reference) to objects, rather the integer values (remember Python types are classes).

* Lists in python are resizable, unlike static arrays which are fixed.

* Python lists can store elements of different types, whereas arrays are declared to store values of one type.

In [53]:
l = [1,2.25,"Nick","N",True]
l

[1, 2.25, 'Nick', 'N', True]

In [58]:
l[0]

1

In [56]:
len(l)

5

In [89]:
l = [1,2,3,4,5,6]
l

[1, 2, 3, 4, 5, 6]

In [60]:
l[0]

1

In [61]:
l[-1]

6

In [62]:
l[-2]

5

In [63]:
l

[1, 2, 3, 4, 5, 6]

In [67]:
l[2:4]

[3, 4]

In [68]:
type(name)

str

In [69]:
type(l)

list

In [70]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [90]:
l

[1, 2, 3, 4, 5, 6]

In [72]:
l.append(7)
l

[1, 2, 3, 4, 5, 6, 7]

In [74]:
l = [7,1,2,3,4,5,6]

In [75]:
l.remove(7)
l

[1, 2, 3, 4, 5, 6]

In [91]:
l.sort()
l

[1, 2, 3, 4, 5, 6]

In [ ]:
l.sort(reverse=True)
l

[6, 5, 4, 3, 2, 1]

## 3.1 List comprehension

* We saw iteration via the `for...in...` and `while` loop in the previous notebook. 

* List comprehension provides a concise way to create lists in a single line

* Combine loops and optional conditions into a compact expression

* Often faster (but arguably less readable?)

` [expression for item in iterable if condition] `

Iteratively:

In [76]:
squares = []
for x in range(11):
    if x % 2 == 0: 
        squares.append(x**2)

In [77]:
squares

[0, 4, 16, 36, 64, 100]

Re-ordered using list comprehension:

In [9]:
squares = [x**2 for x in range(11) if x % 2 == 0]
squares

[0, 4, 16, 36, 64, 100]

## 3.2 Numpy Arrays

![numpy_logo](https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/NumPy_logo_2020.svg/320px-NumPy_logo_2020.svg.png)
* Numerical Python (NumPy) is a package full of methods that can perform useful operations on data.  

* NumPy provides a convenient API (Application Programmable Interface) that provides a way to ‘interface’ with / operate on data. 

* It reintroduces types which is more coding but more efficient way to search/sort/store data than the ‘loosely’ typed nature of Python that we’ve seen so far. 

* More documentation available at: https://numpy.org

## 3.2.1 Numpy Arrays vs Python List

* NumPy arrays are different to Python Lists. 

* NumPy arrays reintroduce the ‘typed’ nature of more ‘verbose’ languages (C, C++, Java), where everything is explicitly typed. 

* NumPy arrays operate like arrays from C and Java where they declared to store data of one type (only integers), unlike Python and JS, which can store data of different types. 

* NumPy arrays therefore data is ‘cast’ – floating point numbers to integers, or in some cases – an error is produced (strings to integers).

In [12]:
import numpy as np

In [56]:
numpy_arr = np.array([3.14,2,3,4,5]) 
numpy_arr

array([3.14, 2.  , 3.  , 4.  , 5.  ])

In [57]:
py_list = [0, 1.0, "N", True]
py_list

[0, 1.0, 'N', True]

In [58]:
numpy_arr[3].dtype

dtype('float64')

How many bytes is 64-bits?

In [59]:
i = 0
for x in numpy_arr:
    print(x, ":", numpy_arr[i].nbytes)
    i += 1

3.14 : 8
2.0 : 8
3.0 : 8
4.0 : 8
5.0 : 8

In [61]:
numpy_arr = np.array([1,2,3],dtype='float32')
numpy_arr

array([1., 2., 3.], dtype=float32)

In [62]:
numpy_arr[0].dtype

dtype('float32')

How many bytes?

In [63]:
i = 0
for x in numpy_arr:
    print(x, ":", numpy_arr[i].nbytes)
    i += 1

1.0 : 4
2.0 : 4
3.0 : 4

## 4. Tuples in Python `( )`

* We’ve seen that a Python list is indexed and can store elements of different types (heterogeneity) 

* Tuples are constant (immutable) – once they are declared, they cannot be reassigned. 

* A list is declared with `[ ]` whereas the tuple is declared with `( )`

* We can still refer to elements in a tuple via the `[ ]`

In [78]:
l = []

In [79]:
t = (1,2,3,4,5,6)
t

(1, 2, 3, 4, 5, 6)

In [80]:
t[0]

1

In [81]:
t[0] = 5

TypeError: 'tuple' object does not support item assignment

In [82]:
type(t)

tuple

In [ ]:
dir(tuple)

In [83]:
t1 = (1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,3,3,3,3,3,3)

In [84]:
t1.count(3)

6

In [85]:
t.index(5)

4

## Summary of Tuples vs Lists 

* Tuples are immutable (constant) – once they are declared, they cannot be reassigned. 

* A list is mutable – elements can be reassigned. 

* A list is declared with `[ ]` whereas the tuple is declared with `( )`

* We can refer to elements in both a list and tuple via the `[ ]` 

* You can distinguish between the key collections by the pairs of brackets used: 

| Structure | Brackets | Characteristics |
| ----------- | ----------- | --------- |
| Lists |	`[ , ]` | mutable |
| Tuples |	`( , )` | immutable |

#### This Jupyter Notebook contains exercises for you to extend your introduction to OOP, by creating lists, tuples, sets, dictionaries of objects. Attempt the following exercises, which slowly build in complexity. If you get stuck, check back to the <a href = "https://www.youtube.com/watch?v=359eGFD7hS4"> Python lecture recording on Data Structures here</a> or view the <a href = "https://www.w3schools.com/python/python_lists.asp">W3Schools page on Python Variables</a>, which includes examples, exercises and quizzes to help your understanding.

### Exercise 1: 

Write your name as a string, and print out the last character of your name. Is there a convenient way to get to the last character of a `list`?

Extension: Can you write a loop to print out all letters of your name on a separate line?

Extension: Can you use Python to write your name in binary (base-2)?

In [ ]:
# Write your solution here

### Exercise 2:
Create a Python `list` that stores the numbers 1-10 in indivdual elements. Then print out the contents of the `list` to check the values have been stored correctly.

Extension: Can you write a function which will add up all the numbers in the list and print the total? 

Extension: How much memory does this list take up? Can you use Python to calculate the total size in memory?

In [ ]:
# Write your solution here

### Exercise 3: 

Create a function which will return the first value of a `list` passed in. Also create another function which will return the last value of a `list` passed in. Code these functions so they work with any length of a `list`. 

Question: Which `list` function will return the length of a `list`?

In [ ]:
def get_first():
    ... # Write your solution here.

In [ ]:
def get_last():
    ... # Write your solution here.

In [ ]:
l = ...
print("list: ", l)
print("first value:", get_first(l))
print("last value:", get_last(l))

### Exercise 4: 

For the code below, rewrite this using list comprehension.

In [16]:
names = ["nick", "sam", "andrew", "claire", "amelia", "charlie", "robin"]

name_lengths = []
for name in names:
    name_lengths.append(len(name))

print(name_lengths)

[4, 3, 6, 6, 6, 7, 5]

In [ ]:
name_lengths = [...] # re-order the components above in list comprehension format
name_lengths

[4, 3, 6, 6, 6, 7, 5]

### Exercise 5: 

Consider the given `tuple` below. Is there a function you can call to return the `count` of the value `6`?

Extension: Now create your own function which will return the count of any value contained in a tuple.

Extension: Extend this function to work with either lists or tuples. 

Extension: Write a function which will return all the index positions of the values being counted.

In [19]:
t = (1,2,3,4,5,6,4,5,6,7,8,9,1,2,3,7,8,9,4,5,6)

# Write your solution here

Question: Why does the following code not work?

In [22]:
t.append(6)

AttributeError: 'tuple' object has no attribute 'append'

### Exercise 6:

Write a function which will square (raise to the power of 2) the contents of a list of values passed in. Test this works by passing in a list of numbers. 

Extension: Re-write your solution to use list comprehension.

Extension: Re-write your square function to be a `power` function, which can raise any number to any power. 

Extension: What happens if the values in a list are not `ints` or `floats`? What happens if you supply `strs` or `bools`?

In [ ]:
def square():
    ... # Write your solution here

In [ ]:
# Sample list, but test with others too.
l = [-5,-4,-3,-2,-1,0,1,2,3,4,5]

### Exercise 7: 

Write function that will find a middle element of a given `list`. 

If you had a `list` with an odd number as its length : `[1,2,3,4,5,6,7,8,9]`, then the middle element will have a symmetric halves (four values either side of the middle value 5). 

For an even number as a length, either return both elements in the middle or round up or down to either side.  

Check your function works for a variety of `list` sizes.

In [ ]:
# Write your solution here

### Exercise 8:
Write a function that takes in a `lists` of numbers, and returns the number that appears most frequently (the mode). 

Hint: If you get stuck, try creating a tally of how many times each number appears. Have you `counted` the instances of the same value before?

Question: What happens when there is a tie - where two values have the same count?

In [ ]:
def most_frequent(a):
    ... #write your solution here

In [ ]:
a = [0,1,3,4,6,3,2,4,1,9,5,6,7,7,1,8,4,0]

result = most_frequent(a)
result

### Exercise 9: 

Write a function which will 'unpack' the values of the following `tuple`, and store each inner value as a separate value in a `list`

In [24]:
tuplex = ((1,2,3), (4,5,6), (7,8,9), (10,11,12), (13,14,15))
# Write your solution here

### Exercise 10: 

From the given `list` below, write a block of code which will create two separate `lists`. One `list` should contain all the elements of `str` type, and the other `list` should contain all the elements of `float` type. 

Extension: If you haven't already, use list comprehension to separate the values. 

Extension: Sort the strings list in ascending order. 

Extension: Sort the number list from lowest to highest

Extension (requires knowledge of `dictionaries` which is coming up in the next lecture - so perhaps come back to this): Can you can store these separated lists as `values` of corresponding `keys` in a `dictionary`. The `dictionary` should look like this: 

`gadgets_dict = { str_list : [...], float_list : [...]}`

In [15]:
gadgets = ["Smartphone", "Tablet", 250, "Smartwatch", 179.99, "Bluetooth Earbuds", 59.50,
           "Gaming Console", 499.00, "Wireless Mouse", "Mechanical Keyboard"]
gadgets

['Smartphone',
 'Tablet',
 250,
 'Smartwatch',
 179.99,
 'Bluetooth Earbuds',
 59.5,
 'Gaming Console',
 499.0,
 'Wireless Mouse',
 'Mechanical Keyboard']

In [14]:
str_list = [...] # write your solution here.
float_list = [...] # write your solution here.

### (Bonus) Challenge (interview question):

You are given a list of integers, and your task is to find the longest subsequence of consecutive integers within the list. A subsequence is a sequence that can be derived from another sequence by deleting some or no elements without changing the order of the remaining elements. 

Write a Python function to solve this problem. Your function should return the longest consecutive subsequence found in the original list.

For example, given the input list: ``` [4, 2, 8, 5, 6, 7, 11, 12, 10]```

The longest consecutive subsequence is: ``` [4, 5, 6, 7, 8] ```

In [ ]:
def longest_consecutive_subsequence(numbers):
    #write your solution here
    ...
    #write your solution above


numbers = [4, 2, 8, 5, 6, 7, 11, 12, 10]
result = longest_consecutive_subsequence(numbers)
print(result)